<h1>Admin::Dashboard#show</h1>
<p>We have <%= @count_of_products %> different products that we sell in our store.</p>
<p>We have <%= @count_of_categories %> different categories of plants that we sell in our store.</p>

