<h1>About Us</h1>

<div>
Welcome to the Jungle 🌱 <br> We are a start up company that sells you Evergreens, shrubs, and Trees at a fair price.
We look to not only keep our prices competitive, but to also donate a part of our income to preserving the environments where these plants are grown!
We hope you enjoy your visit to the Jungle! 
<br>We hope you enjoy your visit to the Jungle 🌱 
</div>
